<% layout("/layouts/boilerplate") %>

<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
  }

  .filter {
    text-align: center;
    margin-top: 2rem;
    margin-right: 2rem;
    line-height: 1.1;
    opacity: 0.7;
    transition: .5s .2 ease-in-out;
    cursor: pointer;
  }

  .filter:hover {
    opacity: 1;
  }

  .filter .logo {
    font-size: 1.6rem;
  }

  .filter a {
    text-decoration: none;
    color: black;
  }
  
  .tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
    margin-left: 2rem;
    margin-top: .5rem;
  }

  .text-info {
    color: black !important;
    display: none;
    
  }
</style>


      <div id="filters">
        <div class="filter">
          <div class="logo"><i class='bx bxs-home'></i></div>
          <a href="/listings">Homes</a>
        </div>
  
      
        <div class="filter">
          <div class="logo"><i class='bx bxs-hot' ></i></div>
            <p>Trending</p>
        </div>
  
  
        <div class="filter">
          <div class="logo"><i class='bx bxs-bed' ></i></i></div>
            <a href="/listings/hotels">Hotels</a>
        </div>
  
        <div class="filter">
          <div class="logo"><i class='bx bxs-city' ></i></div>
            <p>Iconic Cities</p>
        </div>
  
      
        <div class="filter">
          <div class="logo"><i class='bx bx-male-female' ></i></div>
            <p>Trips</p>
        </div>
  
  
        <div class="filter">
          <div class="logo"><i class='bx bx-cycling' ></i></i></div>
            <p>Cycling</p>
        </div>
        
        <div class="filter">
          <div class="logo"><span class="material-symbols-outlined">
            landscape
            </span></div>
          <a href="/listings/mountains">Mountains</a>
        </div>
  
      
        <div class="filter">
          <div class="logo"><span class="material-symbols-outlined">
            captive_portal
            </span></div>
            <p>Explore New</p>
        </div>
  
  
        <div class="filter">
          <div class="logo"><span class="material-symbols-outlined">
            castle
            </span></div>
            <p>Castles</p>
        </div>
        
        <div class="filter">
          <div class="logo"><span class="material-symbols-outlined">
            sailing
            </span></div>
            <p>Boating</p>
        </div>

        <div class="tax-toggle mb-3">
          <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total after texes</label>
          </div>
        </div>
      </div>
      
      
   


    
    

    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
      <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
          <div class="card col listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listening" style="height: 22rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b>
                  <%= listing.title %>
                </b>
                <br>
                &#8377;
                <%= listing.price.toLocaleString("en-IN") %> / night
                <i class="text-info"> &nbsp; &nbsp;+18% GST</i>
              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>



    <script> 

    let texSwtich = document.querySelector('#flexSwitchCheckDefault');
    texSwtich.addEventListener("click" , () => {
      console.log("Hello")
      let textInfo = document.querySelectorAll(".text-info");
     for (info of textInfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline" ;
      }else {
        info.style.display =  "none";
      }
     }
    });
    </script>